# Assignment 4
Movies! (CINEMA)
Rotten Tomatoes vs IMDb.
Community vs Critics!
favorite genre, year, director and writer of each community.
Lets compare the movie rating distribution!

In [43]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np

In [63]:
#cleaning the data
moviedb = pd.read_csv("allmovies.csv")
ratings = moviedb[["avg_vote", "tomatometer_rating", "audience_rating"]].copy()
ratings = ratings.rename(columns = {"avg_vote": "IMDb", "tomatometer_rating": "RTCRIT", "audience_rating": "RT"})

ratings[]
ratings.plot.kde()

       IMDb  RTCRIT    RT
0       5.2      61  69.0
1       6.5      61  69.0
2       6.8      61  69.0
3       7.0      61  69.0
4       6.7      61  69.0
...     ...     ...   ...
15048   6.3      75  86.0
15049   6.1      77  41.0
15050   4.3      31  20.0
15051   5.7      40  53.0
15052   5.6      61  31.0

[15053 rows x 3 columns]