# Assignment 4
Movies! (CINEMA)
Rotten Tomatoes vs IMDb.
Community vs Critics!
favorite genre, year, director and writer of each community.
Lets compare the movie rating distribution!

In [4]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np

In [25]:
#cleaning the data
cols=["movie_title","tomatometer_rating", "audience_rating"]
rotten = pd.read_csv("RT_info.csv", usecols=cols)
rotten = rotten.rename(columns={"movie_title": "title"})
rotten.head()

,title,tomatometer_rating,audience_rating
0,Percy Jackson & the Olympians: The Lightning T...,49,53.0
1,Please Give,86,64.0
2,10,68,53.0
3,12 Angry Men (Twelve Angry Men),100,97.0
4,"20,000 Leagues Under The Sea",89,74.0

In [19]:
cols=["title", "genre","year", "director", "budget", "writer", "avg_vote", "language", "duration", "country"]
imdb = pd.read_csv("IMDb movies.csv", usecols=cols)
imdb.head()

,title,year,genre,duration,country,language,director,writer,avg_vote,budget
0,The Story of the Kelly Gang,1906,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,Charles Tait,6.1,$ 2250
1,Den sorte drøm,1911,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",5.9,NaN
2,Cleopatra,1912,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,5.2,$ 45000
3,L'Inferno,1911,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,7.0,NaN
4,"From the Manger to the Cross; or, Jesus of Naz...",1912,"Biography, Drama",60,USA,English,Sidney Olcott,Gene Gauntier,5.7,NaN

In [28]:
#DBZ FUSION!
dbz = pd.merge(imdb,rotten,how="inner",left_on="title", right_on="title")
dbz.to_csv("allmovies.csv")